# Zapier Webhook Configuration
NEXT_PUBLIC_ZAPIER_WEBHOOK=https://hooks.zapier.com/hooks/catch/25304089/4obtrgb/

# Google Drive Vault
NEXT_PUBLIC_GOOGLE_DRIVE_VAULT_ID=1UTJULednO_4uT1WdkXS2wK-iyUcAGdae

# Environment
NODE_ENV=development
